<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>create your DevCard</header>
    <form action="/" method="POST">
      <div>
        please enter your full name
        <input type="text" name="name">
        </div>
        <div>
          about me
          <input type="text" name="aboutMe">
        </div>
        <div>
          technologies you know:
          <input type="checkbox"> html
          <input type="checkbox"> css
          <input type="checkbox"> JS
          <input type="checkbox"> Git
          <input type="checkbox"> React
          <input type="checkbox"> Node.js
        </div>
        <div>
          Github URL
          <input type="text" name="github">
        </div>
        <div>
          Twitter URL
          <input type="text" name="twitter">
        </div>
        <div>
          favorite books (Seperate by comma)
          <input type="text" name="books">
        </div>
        <button>Create Site</button>
    </form>
      
    </div>
  </body>
</html>
